<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
        bootstrap="./test/Bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60">
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="true"/>
        <ini name="error_reporting" value="32767"/>
        <const name="TEST_MODE" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>./module/*/test</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./test/IntegrationTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../module/*/src</directory>
        </whitelist>
    </filter>
</phpunit>