<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
        bootstrap="./test/Bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60">
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="true"/>
        <ini name="error_reporting" value="32767"/>
        <const name="TEST_MODE" value="true"/>
        <server name="SERVER_NAME" value="api.test.com"/>
        <server name="HTTP_HOST" value="api.test.com"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>./module/*/test</directory>
        </testsuite>
        <testsuite name="Address Tests">
            <directory>./module/Address/test</directory>
            <directory>./module/Api/test/V1/Rest/Address</directory>
            <directory>./module/Api/test/V1/Rest/AddressGroup</directory>
            <file>./test/IntegrationTest/Api/V1/Rest/AddressResourceTest.php</file>
            <file>./test/IntegrationTest/Api/V1/Rest/AddressGroupResourceTest.php</file>
        </testsuite>
        <testsuite name="Feed Tests">
            <directory>./module/Feed/test</directory>
            <directory>./module/Api/test/V1/Rest/Feed</directory>
            <directory>./module/Api/test/V1/Rest/FeedUser</directory>
            <file>./test/IntegrationTest/Api/V1/Rest/FeedResourceTest.php</file>
            <file>./test/IntegrationTest/Api/V1/Rest/FeedUserResourceTest.php</file>
        </testsuite>
        <testsuite name="Flag Tests">
            <directory>./module/Flag/test</directory>
            <directory>./module/Api/test/V1/Rest/Flag</directory>
            <directory>./module/Api/test/V1/Rest/SuperFlag</directory>
            <file>./test/IntegrationTest/Api/V1/Rest/FlagResourceTest.php</file>
        </testsuite>
        <testsuite name="Flip Tests">
            <directory>./module/Flip/test</directory>
            <directory>./module/Api/test/V1/Rest/Flip</directory>
            <directory>./module/Api/test/V1/Rest/FlipUser</directory>
            <file>./test/IntegrationTest/Api/V1/Rest/FlipResourceTest.php</file>
            <file>./test/IntegrationTest/Api/V1/Rest/FlipUserResourceTest.php</file>
        </testsuite>
        <testsuite name="Game Tests">
            <directory>./module/Api/test/V1/Rest/Game</directory>
            <directory>./module/Api/test/V1/Rest/GameData</directory>
            <directory>./module/Api/test/V1/Rest/SaveData</directory>
            <directory>./module/Api/test/V1/Rest/UserGame</directory>
            <directory>./module/Game/test</directory>
            <file>./test/IntegrationTest/Api/V1/Rest/GameDataResourceTest.php</file>
            <file>./test/IntegrationTest/Api/V1/Rest/GameResourceTest.php</file>
            <file>./test/IntegrationTest/Api/V1/Rest/SaveGameResourceTest.php</file>
            <file>./test/IntegrationTest/Api/V1/Rest/UserGameResourceTest.php</file>
            <file>./test/IntegrationTest/Service/GameServiceTest.php</file>
        </testsuite>
        <testsuite name="Integration">
            <directory>./test/IntegrationTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix="*.php">./module/*/src</directory>
        </whitelist>
    </filter>
</phpunit>