# Fill this file with your docker hub username and password
X_DOCKER_USER=""
X_DOCKER_PASS=""

# fill with your aws creds
X_AWS_KEY=""
X_AWS_SECRET=""

# Fill with your github token
X_MC_GITHUB_TOKEN=""
X_GIT_REMOTE=https://<token>@github.com/ginasink/cmwn-platform.git

# no need to change these
X_SLACK_URL="https://hooks.slack.com/services/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"
X_AWS_BUCKET_URL=s3://cmwn-api-platform
X_WERCKER_GITHUB_CREATE_RELEASE_OWNER="ginasink"
X_WERCKER_GITHUB_CREATE_RELEASE_REPO="cmwn-platform"
X_WERCKER_GITHUB_UPLOAD_ASSET_OWNER="ginasink"
X_WERCKER_GITHUB_UPLOAD_ASSET_REPO="cmwn-platform"
X_PACKAGE_FILE='composer.json'
