@font-face {
    font-family: 'CMWNJadeRegular';
    src: url('../fonts/cmwn.ttf') format('truetype');
}

.container {
    float:left;
    width:100%;
    position:relative;
}

.card {
    width:49.6%;
    position:relative;
    border: 1px dashed black;
    page-break-inside: avoid;
    page-break-after: auto;
    page-break-before: auto;
    height: 2.75in;
    overflow: hidden;
    text-align: center;
}

.user-info {
    font-size: 20px;
}

.site-link {
    font-size: 20px;
    font-family: 'CMWNJadeRegular', Impact, Helvetica, Arial, sans-serif;
}

.disclaimer {
    font-size: 12px;
}
