<?php

return [
    'cmwn-security' => [
        'open-routes' => [
            'zf-apigility',
        ],
    ],

    'asset_manager' => [
        'caching' => [
            'default' => [
                'cache'   => 'AssetManager\\Cache\\FilePathCache',
                'options' => [
                    'dir' => __DIR__ . '/../../public',
                ],
            ],
        ],
    ],

    'db' => [
        'dsn'            => 'mysql:dbname=cmwn;host=localhost',
        'username'       => 'cmwn_user',
        'password'       => 'cmwn_pass123$',
        'database'       => 'cmwn'
    ],

    'options' => [
        'image_domain' => 'api-local.changemyworldnow.com',
    ],
];
